body{
    font-family: 'Montserrat', sans-serif;
    background-color: gray;
}

* {
    margin: 0;
}

h1 {
    
   font-weight: 650;
   padding: 5px;
}

form {
    background-color: #C0C0C0;
    width: 40%;
    height: 285px;
    position: relative;
    left: 33%;
    top: 350px;
    margin: 0 ;
    border-radius: 25px;
}

.group {
    padding: 5px;
}

label {
    font-weight: normal;
    padding-left: 10px;
    text-transform: uppercase;
}

input {
    height: 23px;
    width: 250px;
    border-radius: 20px/20px;
    border: none;
    outline: none;
    padding-left: 15px;
    font-size: 18px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
    
}

button {
    height: 48px;
    width: 133px;
    position: relative;
    left: 41%;
    top: 19px;
    border-radius: 15px;
    background-color: gray;
    color: white;
    border: none;
    font-size: 92%;
     box-shadow: 2px 2px 5px rgba(0,0,0,0.82);
     cursor: pointer;
     font-weight: bold;
}

button:hover {
    transform: translateY(3px);
}

input:focus {
 transform: translateX(15px);

}