<!DOCTYPE html>
<meta charset="UTF-8">
<html lang="ru,en">
<head>
    <link href="main.css" rel="stylesheet">
    <title>Authorization</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="../js/auth.js"></script>
</head>
<body>
    <center>
        <div class="auth">
            Login : <input v-model="login">
            Password : <input type="password" v-model="password"><br>
            <input type="button" value="Auth" v-on:click="auth">
        </div>
    </center>
</body>