<!DOCTYPE html>
<html lang="ru,en">
<meta charset="UTF-8">
<head>
    <link href="main.css" rel="stylesheet">
    <title>Authorization</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="../js/auth.js"></script>
</head>
<body>
    <center>
        <div class="auth">
            Login : <input v-model="login"> <br>
            Password : <input type="password" v-model="password"><br>
            ConfirmPassword : <input type="password" v-model="confirmPassword"><br>
            Name : <input v-model="first_name"><br>
            LastName : <input v-model="last_name"><br>
            <input class="button"type="button" value="Register" v-on:click="register">
        </div>
    </center>
<body>
</html>